#console {
	margin: 0 auto;
    margin-top: 50px;
	padding: 40px;
	width: 700px;
	height: 700px;
	border-radius: 50%;
	background: #000;
	position: relative;
}

#console .buttons {
	margin: 0;
	padding: 0;
	width: 800px;
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 50;
}