.case {
	width: 50px;
	height: 20px;
	border: 5px solid #CCC;
	margin: 0 auto;
	display: inline-table;
}

.row > .off {
	display: inline-table;
	color: #FFF;
  text-transform: uppercase;
  margin-top: 50px;
	margin-right: 5px;
}

.row > .on {
	display: inline-table;
	color: #FFF;
	text-transform: uppercase;
	margin-left: 5px;
}

.switch {
	width: 25px;
	height: 20px;
	background: #007DC6;
}

.switch {
	width: 25px;
	height: 20px;
	background: #007DC6;
}