#console .controls {
	margin: 0 auto;
	padding: 0;
	width: 370px;
	height: 370px;
	background: #000;
	position: absolute;
	top: 27%;
	left: 26.5%;
	z-index: 99;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}

.row {
	margin: 0;
	padding: 0;
	width: 100%;
	clear: both;
}

.controls > .row {
	margin: 0 auto;
	padding: 0;
	width: 80%;
	height: 70px;
	clear: both;
}

.start > .button {
	width: 35px;
	height: 35px;
	background: green;
	border-radius: 50%;
	border: 5px solid #7f8c8d;
	margin: 0 auto;
}

.start > p, .strict > p, .counter > p {
	color: #FFF;
	text-transform: uppercase;
}

.strict > .button {
	width: 35px;
	height: 35px;
	background: yellow;
	border-radius: 50%;
	border: 5px solid #7f8c8d;
	margin: 0 auto;
}

.strict > .indicator {
	margin: 0 auto;
	margin-top: -15px;
	margin-bottom: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: red;
	clear: both;
}

.counter, .start, .strict {
	width: 33%;
	float: left;
}

.counter > .count {
	width: 50px;
	height: 35px;
	border: 5px solid #CCC;
	margin: 0 auto;
	text-align: right;
}

.counter > .count > p {
	font-size: 250%;
	color: red;
	font-family: "Calculator", sans-serif;
	margin: 0;
	margin-top: -3px;
	letter-spacing: 2px;
	text-align: center;
	font-family: "Digital-7", sans-serif;
}